@{
    ViewBag.Title = "About";
}
<h2>Относно</h2>
<h4>Практически проект от курс Software Technologies.</h4>
<p><strong>Изработил:<br /></strong> Димитър Александров<br />град Велико Търново</p>

<h4>Студент в: <a href="https://softuni.bg">Software University</a><br /></h4>

